<h2>🥼 all doctors: </h2>

<% @doctors.each do |doctor|%>
  <ul>
    <li>
      <%= link_to doctor.name, doctor %>
      <p> 🚨 </p>
      <%= form_tag doctor_path(doctor), method: :delete do %>
        <%= submit_tag 'delete doctor' %>
      <% end %>
    </li>
  </ul>
<% end %>