<h2>New Author</h2>

<form action="/authors" method="post">
  <label for="">Name</label>
  <input type="text" name="name" value="">
  <br>

  <label for="">Age</label>
  <input type="number" name="age" value="">
  <br>

  <input type="submit" name="" value="Save Author">
</form>
