<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <a href="/books">All Books</a>
      <a href="/books/new">Create a New Book</a>
      <br>
      <a href="/authors">All Authors</a>
      <a href="/authors/new">Create a New Author</a>
    </nav>
    <h1> 📓 My Library</h1>
    <%= yield %>
  </body>
</html>
